/* Common */
body {
    background-color: var(--black--default);
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
    overflow: hidden;
    height: 100vh;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
}
/* Common */


/* Typography */
.bold {
    font-weight: 700;
}

.level__1,
.level__2,
.level__3,
.level__4,
.level__5,
.level__6,
.level__7,
.level__8,
.level__9 {
    color: var(--text-primary);
    line-height: 120%;
}

.level__1 {
    font-size: 42px;
}

.level__2 {
    font-size: 35px;
}

.level__3 {
    font-size: 29px;
}

.level__4 {
    font-size: 24px;
}

.level__5 {
    font-size: 20px;
}

.level__6 {
    font-size: 17px;
}

.level__7 {
    font-size: 14px;
}

.level__8 {
    font-size: 12px;
}

.level__9 {
    font-size: 10px;
}
/* Typography */

/* Containers */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: var(--gray--default);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Containers */

/* Controls */
.controls__container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    background-color: var(--colors--dark--transparent);
    filter: var(--controls--filter);
}

#canvasContainerWrapper {
    position: relative;
    box-sizing: border-box;
    resize: horizontal;
    width: 100%;
    max-width: 100%;
    box-shadow: 1px 2px 206px -4px rgba(80, 80, 80, 0.32);
}

#canvasContainer {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
}

#canvasContainer canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.controls__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: center;
    height: 24px;
    align-items: center;
    box-sizing: content-box;
    padding: 14px 28px;
    gap: 8px;
}

.playback__controls {
    align-items: center;
    height: 24px;
}

.sound__container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.volume__container {
    padding: 10px 12px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.song__info {
}

#loopButton {
    margin-left: auto;
}

/* Icons */
.icon {
    width: 24px;
    height: 24px;
    background-color: var(--icon--background);
}

.icon.active {
    background-color: var(--ui-base);
}

.icon.active:hover {
    background-color: var(--ui-base--hover);
}

.icon:hover {
    background-color: var(--icon--background--hover);
}

#playIcon, #pauseIcon, #muteIcon {
    display: none;
}

#playIcon {
    mask: url('../assets/icons/play__icon.png') no-repeat center / contain;
    -webkit-mask: url('../assets/icons/play__icon.png') no-repeat center / contain;
}

#pauseIcon {
    mask: url('../assets/icons/pause__icon.png') no-repeat center / contain;
    -webkit-mask: url('../assets/icons/pause__icon.png') no-repeat center / contain;
}

#loopIcon {
    mask: url('../assets/icons/loop__icon.png') no-repeat center / contain;
    -webkit-mask: url('../assets/icons/loop__icon.png') no-repeat center / contain;
}

#volumeIcon {
    mask: url('../assets/icons/volume__icon.png') no-repeat center / contain;
    -webkit-mask: url('../assets/icons/volume__icon.png') no-repeat center / contain;
}

#muteIcon {
    mask: url('../assets/icons/mute__icon.png') no-repeat center / contain;
    -webkit-mask: url('../assets/icons/mute__icon.png') no-repeat center / contain;
}

#fullscreenIcon {
    mask: url('../assets/icons/fullscreen__icons.png') no-repeat center / contain;
    -webkit-mask: url('../assets/icons/fullscreen__icons.png') no-repeat center / contain;
}
/* Icons */

/* Loader */
.clock-container {
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border: 3px solid var(--clock-color);
    border-radius: 50%;
}

.clock-loader::before,
.clock-loader::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
}

.clock-loader::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
}

.clock-loader::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

/* Loader */
